@font-face {
  src: url("..fonts/OpenSans-Regular.woff"),
    url("..fonts/OpenSans-Regular.woff2"), url("..fonts/OpenSans-Regular.ttf");
  font-family: OpenSans;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("../fonts/OpenSans-Bold.woff"), url("../fonts/OpenSans-Bold.woff2"),
    url("..fonts/OpenSans-Bold.ttf");
  font-family: OpenSans;
  font-weight: bold;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.header {
  font-family: OpenSans, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
  padding-top: 29px;
  padding-bottom: 145px;
  position: relative;
}

.container {
  box-sizing: border-box;
  max-width: 1170px;
  margin: 0 auto;
}

.container::before {
  content: "";
  display: block;
  background-color: #000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  height: 40px;
}

.header__logo {
  width: 179px;
}

.header__nav {
  margin-top: 16px;
  font-size: 13px;
  font-weight: normal;
  width: 461px;
  list-style-type: none;
  display: flex;
  padding-left: 34px;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
}

.nav__link:hover {
  text-decoration: underline;
}

.header__intro {
  text-align: center;
  width: 710px;
  margin: 124px auto 0px;
  position: relative;
  z-index: 2;
}

.header__intro-title {
  font-size: 45px;
  line-height: 75px;
}

.main {
  font-family: OpenSans, sans-serif;
  display: flex;
  max-width: 1170px;
  margin: 64px auto;
}

/*------------------------------trends_start------------------------------*/

.trends {
  font-family: OpenSans, sans-serif;
  margin-bottom: 27px;
  margin-top: 58px;
}

.title {
  color: #0f0d0e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.title:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 14px auto 0;
}

.trend__title__link:hover {
  color: #b59f5b;
}

.trend__columns {
  margin-top: 27px;
  margin-bottom: 64px;
  display: flex;
}

.trend__column {
  width: 25%;
  min-height: 320px;
  background-repeat: no-repeat;
  background-posotion: center center;
  background-size: cover;
  background-color: #eff6f1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 16px;
  position: relative;
}

.trend__column::before {
  content: "";
  display: block;
  background-color: #000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
}

.trend__column:nth-child(-n + 3) {
  margin-right: 4px;
}

.trend__background__first {
  background-image: url("../images/trend1.jpg");
}

.trend__background__second {
  background-image: url("../images/trend2.jpg");
}

.trend__background__third {
  background-image: url("../images/trend3.jpg");
}

.trend__background__fourth {
  background-image: url("../images/trend4.jpg");
}

.trend__title__link {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.trend__frame {
  border: 3px solid #83794a;
  display: flex;
  flex-direction: column;
  padding-left: 34px;
  padding-top: 38px;
  margin-left: 23px;
  margin-right: 23px;
  position: relative;
  z-index: 2;
}

/*---------------------------------trends_end--------------------------------*/

.content {
  width: 778px;
  margin-right: 120px;
}

.content__column {
  display: flex;
  font-family: OpenSans, sans-serif;
}

.content__column:nth-child(n + 2) {
  margin-top: 60px;
}

.content__picture {
  background-color: #eff6f1;
  width: 380px;
  height: 100%;
}

.content__frame {
  width: 367px;
  padding-left: 30px;
}

.content__category {
  padding-bottom: 15px;
  list-style-type: none;
}

.category__list {
  display: inline;
}

.content__category__link {
  color: #b59f5b;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-right: 20px;
}

.content__category__link:hover {
  text-decoration: underline;
}

.content__title {
  padding-bottom: 30px;
}

.content__title__link {
  display: inline-block;
  color: #0f0d0e;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.content__title__link:hover {
  color: #b59f5b;
}

.content__date-author {
  padding-bottom: 50px;
}

.content__date {
  color: #888888;
  font-weight: normal;
  font-size: 12px;
  margin-right: 16px;
}

.content__author {
  color: #000000;
  font-weight: bold;
  font-size: 12px;
}

.content__text {
  color: #0f0d0e;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

.content__text-first {
  margin-bottom: 16px;
}

.sidebar {
  font-family: OpenSans, sans-serif;
  width: 272px;
}

.sidebar__title {
  margin-bottom: 29px;
}
.sidebar__title-head {
  color: #0f0d0e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.sidebar__title-head:after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 14px auto 0;
}

.sidebar__post {
  display: flex;
}

.sidebar__post__picture {
  background-color: #f4f7f6;
  height: 100%;
}

.sidebar__post__frame {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.sidebar__post__date {
  font-size: 12px;
  color: #888888;
}

.sidebar__post__title {
  display: inline-block;
  color: #0f0d0e;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
}

.sidebar__post__title:hover {
  color: #b59f5b;
}

.sidebar__post:nth-child(n + 2) {
  margin-top: 22px;
}

.sidebar__search-form {
  display: flex;
  margin-bottom: 60px;
}

.sidebar__search-field {
  box-sizing: border-box;
  width: 224px;
  margin-top: 60px;
  font-size: 13px;
  height: 48px;
  background-color: #f4f7f6;
  padding-left: 19px;
}

.sidebar__search-field:focus {
  border: 1px solid #b59f5b;
}

.sidebar__search-button {
  box-sizing: border-box;
  width: 48px;
  heigth: 48px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center;
  margin-top: 60px;
}

.sidebar__search-button:hover {
  background-color: #323232;
}

.sidebar__subscribe-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;
}

.sidebar__subscribe-field {
  box-sizing: border-box;
  width: 272px;
  font-size: 13px;
  height: 48px;
  background-color: #f4f7f6;
  padding-left: 19px;
  margin-bottom: 16px;
}

.sidebar__subscribe-field:focus {
  border: 1px solid #b59f5b;
}

.sidebar__subscribe-button {
  box-sizing: border-box;
  width: 272px;
  height: 48px;
  background-color: #b59f5b;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.sidebar__subscribe-button:hover {
  text-decoration: underline;
}

.sidebar__tags__container {
  /*   box-sizing: border-box; */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.tags__list {
  list-style-type: none;
  margin-right: 6px;
  margin-bottom: 6px;
  border: 3px solid #eeeeee;
  padding: 0 13px 4px;
}

.tags__list:hover {
  border: 3px solid #b59f5b;
  color: #0f0d0e;
}
.tag-block {
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.sidebar__themes {
  line-height: 33px;
}

.themes__list {
  list-style-type: none;
}

.sidebar__theme__name {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  box-sizing: border-box;
  font-size: 14px;
  width: 272px;
  height: 47px;
  border-bottom: 1px solid #eeeeee;
  display: inline-block;
}

.sidebar__theme__name:hover {
  color: #b59f5b;
}

.num {
  color: #b59f5b;
  font-size: 12px;
  margin-left: 5px;
  vertical-align: super;
}

/*---------------------------------shop_start-------------------------------*/

.shop {
  font-family: OpenSans, sans-serif;
  margin-bottom: 27px;
  max-width: 1170px;
  margin: 64px auto;
}

.shop__columns {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.product {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.product__body {
  border: 3px solid rgba(214, 202, 165, 0.6);
  padding: 55px 24px 28px;
  position: relative;
  z-index: 1;
  flex-grow: 1;
}

.product__imgbox {
  display: flex;
  justify-content: center;
  margin-bottom: -28px;
}

.product__title {
  display: inline-block;
  color: #0f0d0e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

.product__description {
  color: #0f0d0e;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

.product__description__link {
  color: #b59f5b;
  text-decoration: none;
}

.product__description__link:hover {
  text-decoration: underline;
}

.product__prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__price_old {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-decoration: line-through;
}

.product__price_new {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.product__button {
  box-sizing: border-box;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.product__button:hover {
  background-color: #323232;
}

.product__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

/*---------------------------------shop_end--------------------------------*/

.footer {
  box-sizing: border-box;
  max-width: 1170px;
  margin: 0 auto;
}

.social__container {
  box-sizing: border-box;
  height: 83px;
  background-color: #f4f7f6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 73px;
}

.social__list {
  list-style-type: none;
  display: flex;
}

.social__driblle {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  background-image: url("../svg/001-dribbble.svg");
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center;
  margin-right: 29px;
}

.social__printerest {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  background-image: url("../svg/002-pinterest.svg");
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center;
  margin-right: 29px;
}

.social__tumblr {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  background-image: url("../svg/003-tumblr.svg");
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: center;
}

.footer {
  font-family: OpenSans, sans-serif;
}

.footer__copyright {
  margin-bottom: 40px;
  text-align: center;
  max-width: 1170px;
}

.footer__copyright-link {
  text-decoration: none;
  color: #999999;
  font-weight: bold;
  font-size: 12px;
}

/*________________________________________tablet_new____________________________________________*/

@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .header__logo {
    width: 158px;
    margin-left: 35px;
  }

  .header__nav {
    display: none;
  }

  .header__intro {
    width: 620px;
    margin: 103px auto 0px;
  }

  .header__intro-title {
    font-size: 40px;
    line-height: 55px;
  }

  /*----trends_start----*/
  .trends {
    margin-bottom: 0;
    margin-top: 47px;
  }

  .title {
    font-size: 18px;
  }

  .trend__columns {
    margin-top: 18px;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .trend__column {
    width: 49.8%;
    min-height: 246px;
    margin-bottom: 3px;
  }

  .trend__column:nth-child(-n + 3) {
    margin-right: 0px;
  }

  .trend__column:nth-child(odd) {
    margin-right: 3px;
  }

  .trend__title__link {
    font-size: 17px;
    line-height: 22px;
  }

  .trend__frame {
    padding: 30px 35px 0 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .content__category {
    padding-bottom: 6px;
  }
  /*----trends_end----*/

  /*----content_end----*/
  .main {
    width: 698px;
    margin: 50px 35px 70px;
  }

  .content {
    margin-right: 34px;
    width: 100%;
  }

  .content__column {
    flex-direction: column;
  }

  .content__column:nth-child(n + 2) {
    margin-top: 0px;
  }

  .content__column:nth-child(n):not(:last-child):after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin-top: 18px;
    margin-bottom: 40px;
  }

  .content__picture {
    background-color: #eff6f1;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
  }

  .content__frame {
    padding-left: 0;
  }

  .content__category {
    padding-bottom: 15px;
  }

  .content__title {
    padding-bottom: 38px;
  }

  .content__title__link {
    font-size: 17px;
    line-height: 22px;
  }

  .content__date-author {
    padding-bottom: 36px;
  }

  .content__text {
    font-size: 15px;
    line-height: 22px;
  }

  .content__text-first {
    margin-bottom: 16px;
  }
  /*----content_end----*/

  /*----shop_start----*/
  .shop {
    margin-bottom: 23px;
  }

  .shop__columns {
    flex-wrap: wrap;
    margin: 28px 34px 0;
  }

  .product {
    width: 49%;
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
  }
  /*----shop_end----*/

  /*----footer_start----*/
  .footer {
    max-width: 100%;
    margin: 0 34px 35px;
  }

  .social__container {
    height: 81px;
    margin-bottom: 50px;
  }
  /*----footer_end----*/
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
  .trend__column {
    width: 24.6%;
  }

  .trend__column:nth-child(-n + 3) {
    margin-right: 4px;
  }
}
/*________________________________________tablet_end____________________________________________*/
/*________________________________________phone.start____________________________________________*/
@media (max-width: 767px) {
  .header {
    background-image: url("../images/banner-mobile.jpg");
    padding-bottom: 0;
    padding-top: 0;
  }

  .header__logo {
    width: 270px;
    margin: 225px auto 0;
  }

  .header__inner {
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .header__nav {
    display: none;
  }

  .button_nav {
    display: block;
    position: relative;
    width: 23px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .nav_burger {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
  }

  .button_nav:before,
  .button_nav:after {
    content: "";
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
  }

  .button_nav:before {
    top: 0px;
  }

  .button_nav:after {
    bottom: 0;
  }

  .header__intro {
    width: 300px;
  }

  .header__intro-title {
    font-size: 26px;
    line-height: 36px;
    padding-bottom: 220px;
    padding-top: 42px;
  }

  /*----trends_start----*/
  .trends {
    margin-bottom: 0;
    margin-top: 47px;
  }

  .title {
    font-size: 16px;
  }

  .trend__columns {
    margin-top: 18px;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .trend__column {
    width: 100%;
    min-height: 246px;
    margin-bottom: 3px;
    margin-right: 0px;
  }

  .trend__column:nth-child(-n + 3) {
    margin-right: 0px;
  }

  .trend__column:nth-child(odd) {
    margin-right: 0px;
  }

  .trend__title__link {
    font-size: 16px;
    line-height: 20px;
  }

  .trend__frame {
    padding: 30px 20px 0 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  /*----trends_end----*/

  /*----content_start----*/
  .main {
    width: 330px;
    margin: 45px 15px;
    flex-direction: column;
  }

  .content {
    width: 100%;
  }

  .content__column {
    flex-direction: column;
    width: 100%;
  }

  .content__column:nth-child(n + 2) {
    margin-top: 0px;
  }

  .content__column:nth-child(n):after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin-top: 18px;
    margin-bottom: 33px;
  }

  .content__picture {
    background-color: #eff6f1;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
  }

  .content__frame {
    padding-left: 0;
    width: 100%;
  }

  .content__category {
    padding-bottom: 12px;
  }

  .content__title {
    padding-bottom: 24px;
  }

  .content__title__link {
    font-size: 16px;
    line-height: 20px;
  }

  .content__date-author {
    padding-bottom: 24px;
  }

  .content__text {
    font-size: 14px;
    line-height: 20px;
  }

  .content__text-first {
    margin-bottom: 16px;
  }

  .sidebar {
    width: 330px;
  }

  .sidebar__title-head {
    width: 330px;
  }

  .sidebar__post {
    width: 330px;
  }

  .sidebar__search-form {
    width: 330px;
  }

  .sidebar__search-field {
    width: 100%;
  }

  .sidebar__subscribe-field {
    width: 100%;
  }

  .sidebar__subscribe-button {
    width: 100%;
  }

  .tags__list {
    padding-right: 11px;
  }

  .sidebar__theme__name {
    width: 100%;
  }
  /*----content_end----*/

  /*----shop_start----*/
  .shop {
    margin-bottom: 23px;
    width: 330px;
  }

  .shop__columns {
    flex-wrap: wrap;
  }

  .product__body {
    /* width: 100%;*/
    /*  width: 330px;*/
  }
  .product {
    width: 100%;
    margin-bottom: 24px;
  }
  /*----shop_end----*/

  /*----footer_start----*/
  .footer {
    max-width: 100%;
    margin: 18px 15px 47px;
  }

  .social__container {
    height: 81px;
    margin-bottom: 50px;
  }
  /*----footer_end----*/
}

@media (max-width: 767px) and (orientation: landscape) {
  .trend__column {
    width: 49.5%;
  }

  .trend__column:nth-child(-n + 3) {
    margin-right: 4px;
  }

  .trend__column:nth-child(even) {
    margin-right: 0px;
  }
}
